<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
<div style="margin: 20px;">
    <h2>Showing Interests for flat: {{flatId}}</h2>
<div *ngIf = "interests.length == 0"><h3>Sorry! You do not have any interests for this flat.</h3></div>
<table class="styled-table" *ngIf = "interests.length > 0">
    <thead class="thead-light">
        <tr class="header" style="background-color: #ffffff;">
            <th scope="col">Apartment</th>
            <th scope="col">Flat</th>
            <th scope="col">Interested User</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let interest of interests" class="table-row-item">
            <td>{{getApartment(interest.apartment_id).address}}</td>
            <td>{{interest.flat_id}}</td>
            <td>{{getUser(interest.user_id).contact_email}}</td>
            <td>
                <button mat-raised-button (click) = "acceptInterestInApartment(interest)">Accept</button>
            </td>
        </tr>
    </tbody>
</table>
</div>