<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
<div style="padding: 40px;">
  <h2>Create Apartment</h2>
  <form [formGroup]="createApartmentForm" (ngSubmit)="createNewApartment()" novalidate>
    <div style="margin-top: 10px;">  
    <mat-form-field appearance="outline">
        <mat-label>Enter apartment address</mat-label>
        <input type="text" matInput placeholder="123 Street Lane, Raleigh" formControlName="address">
        <mat-error *ngIf="createApartmentForm?.get('address')?.errors?.['required']">
          An address is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div style="margin-top: 10px;">  
      <mat-form-field appearance="outline">
        <mat-label>Enter facility</mat-label>
        <input type="text" matInput formControlName="facilities">
        <mat-error *ngIf="createApartmentForm?.get('facilities')?.errors?.['required']">
          A facility is required.
        </mat-error>
      </mat-form-field>
      </div>

    <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
</div>