<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
<div style="margin: 20px;">
    <h2>Welcome: {{owner.contact_email}}</h2>
<div *ngIf = "ownerApartment.length == 0"><h3>Sorry! You do not have apartments.</h3></div>
<table class="styled-table" *ngIf = "ownerApartment.length > 0">
    <thead class="thead-light">
        <tr class="header" style="background-color: #ffffff;">
            <th scope="col">Apartment Address</th>
            <th scope="col">Facilities</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let apartment of ownerApartment" class="table-row-item">
            <td>{{apartment.address}}</td>
            <td>{{apartment.facilities}}</td>
            <td>
                <button mat-raised-button (click) = "getFlatsForApartment(apartment.id)">Show Flats</button>
            </td>
        </tr>
    </tbody>
</table>
<div style="margin-top: 20px;" *ngIf = "ownerFlats.length > 0">
    <h3>Flats for Apartment : {{selectedApartmentId}}</h3>
<table class="styled-table">
    <thead class="thead-light">
        <tr class="header" style="background-color: #ffffff;">
            <th scope="col">Floor Number</th>
            <th scope="col">Rent per room</th>
            <th scope="col">Available</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let flat of ownerFlats" class="table-row-item">
            <td>{{flat.floor_number}}</td>
            <td>{{flat.rent_per_room}}</td>
            <td>{{flat.availability}}</td>
            <td *ngIf = "flat.availability == false">
                <button mat-raised-button (click) = "showLease(flat.lease_id)">Show Lease</button>
            </td>
            <td *ngIf = "flat.availability == true">
                <button mat-raised-button>Show Interests</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>